.vscode/3pictures.JPG
.vscode/copied.css
.vscode/dummy/class.html
.vscode/dummy/class.js
.vscode/dummy/stacknews.html
.vscode/dummy/testnews.html
.vscode/cycle.JPG
.vscode/copied.html
.vscode/dollar.JPG
.vscode/workexp.png
.vscode/women.png
.vscode/tv.JPG
.vscode/try.html
.vscode/test.css
.vscode/smoking.JPG
.vscode/skills.png
.vscode/settings.json
.vscode/s.JPG
.vscode/risk.JPG
.vscode/resume.css
.vscode/resume.html
.vscode/skewed.html
.vscode/skewed.css
.vscode/resumeB14.css
.vscode/resumB14.html
.vscode/ressb14.html
.vscode/response.html
.vscode/rem.JPG
.vscode/quick.html
.vscode/proj.jpg
.vscode/profile.JPG
.vscode/poverty.JPG
.vscode/picture.JPG
.vscode/obesity.JPG
.vscode/obesity.css
.vscode/launch.json
.vscode/juice.JPG
.vscode/index.css
.vscode/ifactory.html
.vscode/drink.png
.vscode/education.jpg
.vscode/french.JPG
.vscode/ifactory.css
.vscode/obesity.html
.vscode/dw.html
.vscode/float.html
.vscode/mountain.jpg
assesment/Question1.html
assesment/Question2.html
assesment/Question3.html
.vscode/calculator/NetifyLink.txt
.vscode/calculator/index.html
.vscode/calculator/calc.css
test.html

